.section-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-size: 100% 100%;
    min-height: 100dvh;
    padding: 50px;
    background: linear-gradient(rgba(94, 100, 208, 0.542), rgba(81, 125, 142, 0.5)),
    /* máscara azul */
    url('/hero.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    /* ou overlay, soft-light etc. */
}


.section-hero h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 800;
    width: 70vw;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.section-hero p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
  .section-hero h1 {
    width: 70vw; 
  }
}