.Testemunho-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f4f6;
  padding: 1.5rem;
}

/* Adiciona espaço extra embaixo do carrossel para as bolinhas não sobreporem o card */
.swiper-testemunhos {
  padding-bottom: 50px !important; 
}

.Testemunho-slide {
  background-color: #ffffff;
  border-radius: 10px;
  height: auto; /* Permite que o card cresça conforme o tamanho do texto */
  min-height: 250px; /* Garante um tamanho mínimo bonito */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding-inline: 30px;
  padding-top: 30px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column !important; 
  justify-content: space-between !important; 
  align-items: flex-start !important;
}

.Testemunho-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.stars {
  display: flex;
  gap: 0.25rem;
}

.star-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #facc15;
  fill: #facc15;
}

.Testemunho-text {
  color: #374151;
  font-style: italic;
  margin: 1.5rem 0;
  flex-grow: 1; 
}

.Testemunho-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-weight: 600;
  margin: 0;
}

.author-since {
  color: #6b7280;
  font-size: 0.875rem;
  margin: 0;
}